:root {
  --dj-midnight: #040728;
  --dj-cerulean: #025bee;
  --dj-sand: #fde6c4;
  --dj-parchment: #fef3e2;
  --dj-aqua: #59f4f4;
  --dj-copper: #dc7f5a;
  --dj-charcoal: #27272a;
  --dj-navigator: #0072b5;
  --dj-canvas: #f4eee8;
  --dj-white: #ffffff;
}

.theme-dark {
  --surface-default: var(--dj-charcoal);
  --surface-muted: var(--dj-charcoal);
  --text-primary: var(--dj-canvas);
  --text-secondary: var(--dj-canvas);
  --border-default: var(--dj-canvas);
  --accent-primary: var(--dj-navigator);
}

.theme-light {
  --surface-default: var(--dj-canvas);
  --surface-muted: var(--dj-canvas);
  --text-primary: var(--dj-charcoal);
  --text-secondary: var(--dj-charcoal);
  --border-default: var(--dj-charcoal);
  --accent-primary: var(--dj-navigator);
}
